* {
  box-sizing: border-box;
  outline: none;
  font-family: 'Public Sans', sans-serif;
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 66%, 55%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  --bg-gradient: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
  --bg-gradient-hover: linear-gradient(to right, rgb(113, 235, 145), hsl(193, 45%, 68%));
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  border: none;
  background: none;
  background-color: none;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.125rem;
}

header, footer, main, main section {
  width: 100%;
}

.header, .footer, main section>div {
  max-width: 80%;
  margin: 0 auto;
}

/* header styles */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header>nav {
  font-size: 0.95rem;
  flex-grow: 0.25;
  display: flex;
  justify-content: space-around;
}

.header>nav a {
  color: hsl(233, 8%, 62%);
  padding-bottom: 0.25rem;
}

.header>nav a span {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  background: hsl(0, 0%, 100%);
}

.header>nav a:hover {
  background: var(--bg-gradient);
  color: hsl(233, 26%, 24%);
}

.mobile-nav-trigger {
  display: none;
}

.mobile-nav-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(to bottom, var(--Dark-Blue) 0%, transparent 65%);
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

button.cta-btn {
  padding: 0.85rem 2rem;
  font-weight: 600;
  border-radius: 2rem;
  letter-spacing: 0.75px;
  background: var(--bg-gradient);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

button.cta-btn:hover {
  background: var(--bg-gradient-hover);
}

/* main styles */

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-title, .card .body {
  color: var(--Grayish-Blue);
  line-height: 1.75rem;
  margin: 2rem 0;
}

.cards, .articles {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.hero-section {
  background-color: var(--Very-Light-Gray);
  flex-grow: 1;
  padding: 10rem 0;
  background-image: url("./images/image-mockups.png"), url("./images/bg-intro-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 57vw 40%, 44vw 66%;
}

.hero-content .title {
  font-size: 3rem;
  font-weight: lighter;
  color: var(--Dark-Blue);
}

.hero-content div {
  width: 40%;
}

.description-section {
  padding: 5rem 0;
  background-color: var(--Light-Grayish-Blue);
  background-image: url("./images/image-mockups.png");
  background-position: 57vw -50rem;
  background-repeat: no-repeat;
}

.description-content>.title, .article-content>.title {
  color: var(--Dark-Blue);
  font-size: 2.25rem;
  font-weight: lighter;
}

.card {
  flex-grow: 1;
}

.card .title {
  font-size: 1.4rem;
  color: var(--Dark-Blue);
  margin: 2rem 0;
}

.card .body {
  font-size: 1rem;
}

.card.online-banking {
  margin-right: 1.5rem;
}

.card.open-api {
  margin-left: 1.5rem;
}

.card.budgeting, .card.onboarding {
  margin: 0 1.5rem;
}

.article-section {
  padding: 5rem 0;
  background-color: var(--Very-Light-Gray);
}

.articles article {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  background-color: var(--White);
  border-radius: 0.3rem;
  overflow: hidden;
}

.articles article:last-child {
  margin-right: 0;
}

article img {
  flex-grow: 1;
  width: 100%;
}

article .body {
  flex-grow: 1;
  padding: 1.5rem;
}

article .body .author {
  font-size: 0.6rem;
  color: var(--Grayish-Blue);
}

article .body .content {
  font-size: 0.75rem;
  color: var(--Grayish-Blue);
}

article .body .title {
  display: inline-block;
  margin: 0.9rem 0;
  color: var(--Dark-Blue);
  font-size: 1rem;
}

article .body .title:hover {
  color: var(--Lime-Green);
}

article .body .content {
  line-height: 1.25;
}

/* footer styles */

footer {
  background: var(--Dark-Blue);
}

.footer {
  padding: 3rem 0;
  display: flex;
  align-items: stretch;
}

.social-links, .about, .careers, .copy-rights {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 0.95rem;
  letter-spacing: 0.25px;
}

.social-links {
  align-items: flex-start;
}

.social-links .icons {
  margin-top: 3rem;
}

.social-links .icon {
  margin-right: 0.5rem;
}

.social-links .icon:hover path {
  fill: var(--Lime-Green);
}

.about, .careers {
  align-items: flex-start;
  color: var(--Light-Grayish-Blue);
}

.about a:hover, .careers a:hover {
  color: var(--Lime-Green);
}

.copy-rights {
  color: var(--Grayish-Blue);
  align-items: flex-end;
}

.copy-rights .copy-right {
  margin-top: 2rem;
}

/* mobile view */

@media all and (max-width:430px) {
  header {
    position: relative;
  }
  .header, .footer, main section>div {
    max-width: 85%;
  }
  .header {
    padding: 1.5rem 0;
    z-index: 50;
  }
  .header button.cta-btn {
    display: none;
  }
  .header>nav {
    display: none;
  }
  .mobile-nav-trigger {
    display: inline-block;
  }
  .mobile-nav-trigger .toggle {
    display: inline-block;
    cursor: pointer;
    width: 1.25rem;
    height: 1.25rem;
    background: url('./images/icon-hamburger.svg') no-repeat center;
  }
  input#open-nav:checked+.toggle {
    background: url('./images/icon-close.svg') no-repeat center;
  }
  input#open-nav:checked ~ .mobile-nav-wrapper {
    height: 100vh;
  }
  .mobile-nav {
    max-width: 85%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--White);
    border-radius: 0.25rem;
    padding: 1.5rem 0;
  }
  .mobile-nav a {
    width: 100%;
    text-align: center;
    color: var(--Dark-Blue);
    padding-left: 0.25rem;
  }
  .mobile-nav a:hover {
    background: linear-gradient(to bottom, var(--Lime-Green), var(--Bright-Cyan));
  }
  .mobile-nav a span {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0;
    background-color: var(--White);
  }
  .hero-section {
    background-image: url("./images/image-mockups.png"), url("./images/bg-intro-mobile.svg");
    padding: 20rem 0 5rem 0;
    background-position: 20px -120px, 0px -66px;
    background-size: 90% auto, 100%;
    text-align: center;
  }
  .hero-content div {
    width: 100%;
  }
  .hero-content .title {
    font-size: 2.5rem;
  }
  .hero-section .sub-title {
    font-size: 0.9rem;
  }
  .description-section {
    text-align: center;
    padding: 3rem 0;
  }
  .description-content .sub-title {
    font-size: 0.9rem;
  }
  .description-content .sub-title br {
    display: none;
  }
  .cards, .articles, .footer {
    flex-direction: column;
    align-items: stretch;
  }
  .cards .card {
    margin: 0 !important;
    font-size: 0.9rem !important;
  }
  .article-section {
    padding: 3rem 0;
  }
  .article-content>.title {
    text-align: center;
  }
  .articles article {
    margin: 0 0 2rem 0 !important;
  }
  .social-links, .about, .careers, .copy-rights {
    align-items: center;
  }
  .social-links .icons {
    margin-top: 2rem;
  }
  .social-links .icons .icon {
    margin-right: 1rem;
    transform: scale(1.2);
  }
  .social-links .icons a:last-child .icon {
    margin-right: 0;
  }
  .about {
    margin-top: 1.5rem;
  }
  .careers {
    margin-bottom: 1.5rem;
  }
  .about a, .careers a {
    margin: 0.5rem 0;
  }

  .copy-rights .copy-right{
    font-size: 0.9rem;
  }
}